.section hr{
	border-color: #FF660A;
}

.topnav .navbar-nav > .active > a, .topnav .navbar-nav > .active > a:hover, .topnav .navbar-nav > .active > a:focus{
	color: #FF660A;
}

.promo:hover .promo-icon {
	background-color: #FF660A;
    color: #fff;
}

.service:hover > .fa-stack > .fa-circle {
	color: #FF660A;
}

#filters li:hover, #filters li.active {
	background-color: #FF660A;
}

#portfolio-grid li:hover .project-overlay {
	background-color: rgba(217, 92, 92, 0.9);
}

#project-controls li a:hover {
	color: #FF660A;
	border-color: #FF660A;
}

.plan.selected {
	background-color: #FF660A;
}

.plan.selected .circle-price{
	color: #FF660A;
}

.plan.selected ul li {
	border-color: #bd2c2c;
}

.plan.selected .btn {
	color: #FF660A;
}

.circle-price{
	background-color: #FF660A;
}

#clients{
	background-color: #FF660A;
}

.flex-control-paging li a:hover, .flex-control-paging li a.flex-active{
	background-color: #FF660A;
}

.btn-custom {
	color: #fff;
	background-color: #FF660A;
	border-color: #FF660A;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open .dropdown-toggle.btn-custom {
	color: #fff;
	background-color: #d13b3b;
	border-color: #d13b3b;
}

::selection {
	background-color: #FF660A;
	color: #fff;
}