<div id="project">
	<!--<div class="col-md-6">
		<div class="project-media">
			<div class="project-slider">
				<ul class="slides">
					<li><img src="images/portfolio/1.jpg"></li>
					<li><img src="images/portfolio/2.jpg"></li>
					<li><img src="images/portfolio/3.jpg"></li>
				</ul>
			</div>
		</div>
	</div>-->
    <div class="col-md-12">
        <div class="project-info">
			<h1>Microsoft Dynamics CRM 2013</h1>
			<div class="project-category">				
				<span class="border"></span>
				<span>CRM Solution</span>
				<span class="border"></span>
			</div>
			<p>Microsoft CRM Dynamics 2013 is all comprehensively integrated Customer Relationship Management solution. This application enables our customers to organize, automate, and synchronize business processes across Sales, Marketing and Customer Service departments. Microsoft Dynamics CRM gives you the ability to easily create and maintain a clear view of your customer right from the first contact through purchase to post-sales and even right up to the stage of sales analysis.</p>
            <hr>
		</div>
    </div>
    <div class="row">
        <div class="center-block col-md-8 col-sm-10 col-xs-12" style="float:none;">
            <!--<p>Built on trusted technology, this Microsoft ERP solution allows you to grow your business while managing organizational change. Microsoft Dynamics empowers your people to anticipate and embrace change, enabling your businesses to thrive. </p>-->
            <p class="team-text" style="color: #666666;">Let SSI, move your business forward. Microsoft Dynamics CRM, delivered by SSI, can help you:</p>
        </div>
    </div>
    <div class="promo-line">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="promo right animated fadeInLeft hiding" data-delay="500" data-animation="fadeInLeft">
                    <div class="col-md-2 col-sm-3 promo-icon-box">
                        <div class="promo-icon">
                            <i class="fa fa-signal fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h4 style="color: #F8694D;">Improve productivity </h4>
                        <p style="color: #353333">Streamline your processes and empower people to make smart, proactive decisions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="promo left animated fadeInRight hiding" data-delay="500" data-animation="fadeInRight">
                    <div class="col-md-2 col-sm-3 promo-icon-box">
                        <div class="promo-icon">
                            <i class="fa fa-road fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h4 style="color: #F8694D;">Manage change and growth</h4>
                        <p style="color: #353333">Build profitable supply chain relationships and quickly adapting internal processes to meet evolving business requirements</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-line">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="promo right animated fadeInLeft hiding" data-delay="500" data-animation="fadeInLeft">
                    <div class="col-md-2 col-sm-3 promo-icon-box">
                        <div class="promo-icon">
                            <i class="fa fa-globe fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h4 style="color: #F8694D;">Compete globally</h4>
                        <p style="color: #353333">Manage the complexities of multi-national organizations through standardization of processes and provide visibility across your entire business</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="promo left animated fadeInRight hiding" data-delay="500" data-animation="fadeInRight">
                    <div class="col-md-2 col-sm-3 promo-icon-box">
                        <div class="promo-icon">
                            <i class="fa fa-umbrella fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h4 style="color: #F8694D;">Ensure compliance</h4>
                        <p style="color: #353333">Reduce risk of liability associated with regulatory legislation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="promo-line">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="promo right animated fadeInLeft hiding" data-delay="500" data-animation="fadeInLeft">
                    <div class="col-md-2 col-sm-3 promo-icon-box">
                        <div class="promo-icon">
                            <i class="fa fa-bar-chart-o fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h4 style="color: #F8694D;">Sales Management</h4>
                        <p style="color: #353333">Lead and Opportunity management, Account and Contact management, Territory and sales quota management, Forecasting and Sales Analytics, Sales Pipeline and Competitor Analysis, Product Configurator and quotation generation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="promo left animated fadeInRight hiding" data-delay="500" data-animation="fadeInRight">
                    <div class="col-md-2 col-sm-3 promo-icon-box">
                        <div class="promo-icon">
                            <i class="fa fa-gear fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h4 style="color: #F8694D;">Service Management</h4>
                        <p style="color: #353333">Case \ Ticket \ Incident management, Intelligent Case Routing and Queuing, Product and Contract management, Service Scheduling, Knowledge-base management, Service Automation using Workflows, Service Reporting and Analytics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="promo-line">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="promo right animated fadeInLeft hiding" data-delay="500" data-animation="fadeInLeft">
                    <div class="col-md-2 col-sm-3 promo-icon-box">
                        <div class="promo-icon">
                            <i class="fa fa-users fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h4 style="color: #F8694D;">Marketing Management</h4>
                        <p style="color: #353333">Customer Segmentation, Campaign Planning and Execution, Leads Management, Data Extraction and Cleansing, Analytics and Reporting, Marketing/sales collaboration tools</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="promo left animated fadeInRight hiding" data-delay="500" data-animation="fadeInRight">
                    <div class="col-md-2 col-sm-3 promo-icon-box">
                        <div class="promo-icon">
                            <i class="fa fa-cogs fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h4 style="color: #F8694D;">Marketing Automation</h4>
                        <p style="color: #353333">Lead Capture & Lead Scoring, Lead Nurturing & Lead Management, Visitor Tracking & Behaviour Analysis, Email Marketing and Social Media Publishing, Landing pages & Marketing Analytics, Multi-Channel Marketing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-md-9">
        <h3 style="text-align: center">Microsoft Dynamics CRM can do the following for your business</h3>
        <div class="plan">
            <ul>
                <li style="text-align: left;padding-top: 14px; padding-bottom: 14px;"><i class="fa fa-li fa-check-circle" style="position: initial;"></i>Boost revenues and increase your sales pipeline accuracy with sales-force automation</li>
                <li style="text-align: left;padding-top: 14px; padding-bottom: 14px;"><i class="fa fa-li fa-check-circle" style="position: initial;"></i>Improve your effectiveness with marketing and sales solutions – giving you a competitive edge</li>
                <li style="text-align: left;padding-top: 14px; padding-bottom: 14px;"><i class="fa fa-li fa-check-circle" style="position: initial;"></i>Deliver enhanced customer service with real-time information and insights</li>
                <li style="text-align: left;padding-top: 14px; padding-bottom: 14px;"><i class="fa fa-li fa-check-circle" style="position: initial;"></i>Improve performance and customer satisfaction by making processes more efficient and transparent</li>
                <li style="text-align: left;padding-top: 14px; padding-bottom: 14px;"><i class="fa fa-li fa-check-circle" style="position: initial;"></i>Support smart decision-making through complete visibility into your business</li>
                <li style="text-align: left;padding-top: 14px; padding-bottom: 14px;"><i class="fa fa-li fa-check-circle" style="position: initial;"></i>Grow your business by helping you adapt quickly to changes in the business environment</li>
            </ul>
        </div>
    </div>-->

    <!--<div class="col-md-3">
        <h3 style="text-align: center">Benefits</h3>
            <div class="plan">
                <ul>
                <li style="padding:11px 10px;"><i class="fa fa-li fa-check " style="position: initial;"></i>360° view of the Customer</li>
                <li style="padding:11px 10px;"><i class="fa fa-li fa-check " style="position: initial;"></i>Centralized Email, Phone Call tracking</li>
                <li style="padding:11px 10px;"><i class="fa fa-li fa-check " style="position: initial;"></i>Better Fund Raising Visibility</li>
                <li style="padding:11px 10px;"><i class="fa fa-li fa-check " style="position: initial;"></i>Deal Management</li>
                <li style="padding:11px 10px;"><i class="fa fa-li fa-check " style="position: initial;"></i>Effective acquisition campaigns</li>
                <li style="padding:11px 10px;"><i class="fa fa-li fa-check " style="position: initial;"></i>Real-time Reporting</li>
                    
                </ul>
            </div>
        
    </div>--><!-- End Pricing Table -->
    <p>&nbsp</p>
    <hr class="style-two" style="clear: both; margin: 20px 0;">
     <!-- Pricing Table --><!--<div class="col-md-3 col-sm-6 col-xs-12">
       
        <div class="plan animated" data-animation="fadeInUp" data-delay="0">
          <div class="plan-heading">
            <h3>Sales Management</h3>
            <p></p>
            <div class="circle-price">
              <span><i class="fa fa-bar-chart-o fa-stack-1x service-icon"></i></span>
            </div>
          </div>
          <ul>
            <li>Lead and Opportunity management</li>
            <li>Account and Contact management</li>
            <li>Territory and sales quota management</li>
            <li>Forecasting and Sales Analytics</li>
            <li>Sales Pipeline and Competitor Analysis</li>
            <li>Product Configurator and quotation generation</li>
          </ul>
        </div>
        
    </div>--><!-- End Pricing Table -->

    <!-- Pricing Table --><!--<div class="col-md-3 col-sm-6 col-xs-12">
        
        <div class="plan animated" data-animation="fadeInUp" data-delay="0">
          <div class="plan-heading">
            <h3>Service Management</h3>
            <p></p>
            <div class="circle-price">
              <span><i class="fa fa-gear fa-stack-1x service-icon"></i></span>
            </div>
          </div>
          <ul>
            <li>Case \ Ticket \ Incident management</li>
            <li>Intelligent Case Routing and Queuing</li>
            <li>Product and Contract management</li>
            <li>Service Scheduling</li>
            <li>Knowledge-base management</li>
            <li>Service Automation using Workflows</li>
            <li>Service Reporting and Analytics</li>
          </ul>
        </div>
        
    </div>--><!-- End Pricing Table -->

    <!-- Pricing Table --><!--<div class="col-md-3 col-sm-6 col-xs-12">
        
        <div class="plan animated" data-animation="fadeInUp" data-delay="0">
          <div class="plan-heading">
            <h3>Marketing Management</h3>
            <p></p>
            <div class="circle-price">
              <span><i class="fa fa-users fa-stack-1x service-icon"></i></span>
            </div>
          </div>
          <ul>
            <li>Customer Segmentation</li>
            <li>Campaign Planning and Execution</li>
            <li>Leads Management</li>
            <li>Data Extraction and Cleansing</li>
            <li>Analytics and Reporting</li>
            <li>Marketing/sales collaboration tools</li>
          </ul>
        </div>
        
    </div>--><!-- End Pricing Table -->

    <!-- Pricing Table --><!--<div class="col-md-3 col-sm-6 col-xs-12">
        
        <div class="plan animated" data-animation="fadeInUp" data-delay="0">
          <div class="plan-heading">
            <h3>Marketing Automation</h3>
            <p></p>
            <div class="circle-price">
              <span><i class="fa fa-cogs fa-stack-1x service-icon"></i></span>
            </div>
          </div>
          <ul>
            <li>Lead Capture & Lead Scoring</li>
            <li>Lead Nurturing & Lead Management</li>
            <li>Visitor Tracking & Behaviour Analysis</li>
            <li>Email Marketing and Social Media Publishing</li>
            <li>Landing pages & Marketing Analytics</li>
            <li>Multi-Channel Marketing</li>
          </ul>
        </div>
        
    </div>--><!-- End Pricing Table -->
</div>
