<div id="project">
	<!--<div class="col-md-6">
		<div class="project-media">
			<div class="project-slider">
				<ul class="slides">
					<li><img src="images/portfolio/1.jpg"></li>
					<li><img src="images/portfolio/2.jpg"></li>
					<li><img src="images/portfolio/3.jpg"></li>
				</ul>
			</div>
		</div>
	</div>-->
	<div class="col-md-12">
		<div class="project-info">
			<h1>SharePoint 2013</h1>
			<div class="project-category">				
				<span class="border"></span>
				<span>Get faster, more powerful SharePoint solutions for your business.</span>
				<span class="border"></span>
			</div>
			<p>SSI has been at the forefront for offering Microsoft's products and services for improving business functionalities. Our software solution services span across the world and we have extensive experience working with business from diverse industry groups. SSI has extensive experience in Microsoft SharePoint customized development and support services.</p>
            <p>Today, SharePoint is increasingly the platform of choice for enterprise applications. Organizations standardized on Microsoft Office, Exchange and Windows can leverage SharePoint to build a complete range of business solutions that work together, eliminating stand-alone line-of-business applications, reducing the need for IT resources, and simplifying administration. </p>
            <!--<p>Alongwith new, optimized viewing experience across different mobileand desktop platforms, SharePoint 2013 offers several new features to improve work processes, employee productivity and usability on device.</p>
            <div class="plan">
                <ul>
                    <li>Mobile Browser Experience</li>
                    <li>Device Channels</li>
                    <li>Office Web Applications</li>
                    <li>Push Notifications</li>
                    <li>Business Intelligence Content</li>
                    <li>Subscribe to Mobile alerts</li>
                </ul>
            </div>
            <p>The mobile device integration of SharePoint 2013 keeps employees connected with the business in a more wholesome manner, from any remote location thus improving productivity and collaboration. With SharePoint Workspace Mobile, users can open, view, edit and share Microsoft Office documents saved on SharePoint Online sites.</p>-->
            
            <div class="col-md-6">
                <div class="project-category">				
				    <span class="border"></span>
				    <span>Solutions by Industry</span>
				    <span class="border"></span>
			    </div>
            </div>
            <div class="col-md-6">
                <div class="project-category">				
				    <span class="border"></span>
				    <span>Solutions by Business Objective</span>
				    <span class="border"></span>
			    </div>
            </div>

            <div class="col-md-3">
                <ul class="fa-ul splist">
                    <li><i class="fa fa-heart fa-2x"></i>Healthcare</li>
                    <li><i class="fa fa-gears fa-2x"></i>Manufacturing</li>
                    <li><i class="fa fa-bar-chart-o fa-2x"></i>Financial Services</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="fa-ul splist">
                    <li><i class="fa fa-building-o fa-2x"></i>Real Estate</li>
                    <li><i class="fa fa-shield fa-2x"></i>Insurance</li>
                    <li><i class="fa fa-laptop fa-2x" style="margin-right: 14px;"></i>Technology</li>
                </ul>
            </div>
            
            
            <div class="col-md-3">
                <ul class="fa-ul splist">
                    <li><i class="fa fa-book fa-2x"></i>Case Management</li>
                    <li><i class="fa fa-users fa-2x"></i>Constituent Management</li>
                    <li><i class="fa fa-tasks fa-2x"></i>Issue Tracking & Task Mgmt</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="fa-ul splist">
                    <li><i class="fa fa-thumbs-up fa-2x"></i>Quality Management</li>
                    <li><i class="fa fa-folder fa-2x"></i>Project Management</li>
                    <li><i class="fa fa-file-text fa-2x"></i>Data Management</li>
                </ul>
            </div>
            
            
            <hr>
		</div>
    </div>
</div>
